<a href="https://colab.research.google.com/github/thetrifon/gb_education_python/blob/main/Python_DS_Trifonov_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Задание 2

Задание 3

Задание 4

Задание 5**

In [15]:
#1
''' Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, 
а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, 
используя метод mean массива Numpy. 
Результат запишите в массив mean_a, в нем должно быть 2 элемента.'''
import numpy as np
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
mean_a = np.mean(a, axis = 0)
print(mean_a)

[2.  8.4]

In [16]:
#2
'''Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. 
Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.'''
a_centered  = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [17]:
#3
'''Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. 
Затем поделите a_centered_sp на N-1, где N - число наблюдений.'''
a_centered_sp = np.dot(a_centered[:,0], a_centered[:,1] )
a_centered_sp
N = np.shape(a)[0]
covariant = a_centered_sp/(N-1)
print(covariant)

2.0

In [18]:
#4
'''Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. 
В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.'''
covariant_check = np.cov(a.T)[0, 1]
print(covariant_check)

2.0

In [19]:
#Тема “Работа с данными в Pandas”
#1
''' Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: 
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: [1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].'''

import pandas as pd
authors = {'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']}
authors = pd.DataFrame(authors)
print(authors)

book = {'author_id': [1, 1, 1, 2, 2, 3, 3], 'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
        'book_price':[450, 300, 350, 500, 450, 370, 290]}
book = pd.DataFrame(book)
print(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  book_price
0          1           Отцы и дети         450
1          1                 Рудин         300
2          1     Дворянское гнездо         350
3          2      Толстый и тонкий         500
4          2       Дама с собачкой         450
5          3                 Гроза         370
6          3  Таланты и поклонники         290

In [20]:
#2
'''Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.'''
authors_price = pd.merge(authors, book, on='author_id')
print(authors_price)

   author_id author_name            book_title  book_price
0          1    Тургенев           Отцы и дети         450
1          1    Тургенев                 Рудин         300
2          1    Тургенев     Дворянское гнездо         350
3          2       Чехов      Толстый и тонкий         500
4          2       Чехов       Дама с собачкой         450
5          3  Островский                 Гроза         370
6          3  Островский  Таланты и поклонники         290

In [21]:
#3
'''Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.'''
top5 = authors_price.nlargest(5, 'book_price')
print(top5)

   author_id author_name         book_title  book_price
3          2       Чехов   Толстый и тонкий         500
0          1    Тургенев        Отцы и дети         450
4          2       Чехов    Дама с собачкой         450
5          3  Островский              Гроза         370
2          1    Тургенев  Дворянское гнездо         350

In [22]:
#4
'''Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.'''
author_name = authors_price.groupby('author_name').agg({'book_price': 'min'}).rename(columns={'book_price':'min_price'})
max_price = authors_price.groupby('author_name').agg({'book_price': 'max'}).rename(columns={'book_price':'max_price'})
mean_price = authors_price.groupby('author_name').agg({'book_price': 'mean'}).rename(columns={'book_price':'mean_price'}).round(decimals=0)
authors_stat = pd.concat([author_name, max_price, mean_price], axis = 1)
print(authors_stat)

             min_price  max_price  mean_price
author_name
Островский         290        370       330.0
Тургенев           300        450       367.0
Чехов              450        500       475.0

In [27]:
#5
'''Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. 
В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. 
Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. 
Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2.
 Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.'''
 
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

book_info = pd.pivot_table(authors_price, values='book_price', index=['author_name'], columns=['cover'], 
                           aggfunc=np.sum, fill_value=0)
print(book_info)

book_info.to_pickle('book_info.pkl')
book_info

book_info2 = pd.read_pickle('book_info.pkl')
book_info2

SyntaxError: ignored